<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    //- This is the local style sheet 
    link(href="style.css", rel="stylesheet")  
    //- Icons star here!!!!
    link(rel="stylesheet", href="https://file.myfontastic.com/QbQsczrW6WgJEDXcgFrJfh/icons.css")
    //- This is for the google font 
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
body
    .main
         header
               label(for="menu") 
                i.icon-bars 
                i.text MENU
               input#menu(type="checkbox")
               .logo
                    a(href="#") Ismael.G.C
               nav
                  ul
                    li
                       a(href="#") Home
                    li 
                       a(href="#") About
                    li
                       a(href="#") Portfolio
                    li
                       a(href="#") Contact
                  .social   
                        a(href="#")
                                 i.icon-facebook
                        a(href="#")
                                 i.icon-github
                        a(href="#")
                                 i.icon-twitter
                        a(href="#")
                                 i.icon-git-square         
         main
           section.home
               h1 Responsive Frond end Development
               a(href="#porfolio") VIEW PORTFOLIO
           section.about
               img(src="foto-perfil.jpg", alt="ismael garcia" width="400px" height="400px")
         footer