@import url('http://weloveiconfonts.com/api/?family=entypo');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background: darkcyan;
    .main{
        height: 100%;
    }
}
header{
    // background:rgba(#fff, .9);
    color:rgb(46, 56, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    input[type="checkbox"]{
        display: none;
       }
       #menu:checked~ nav{
           margin-left:0; 
       }
    label{
      padding: 10px;
      font-size: 20px;
      display: block;
      .text{
          display: none;
      }
    }
    .logo a {
          font-size: 20px;
          text-decoration: none;
          color: rgb(46, 56, 66);
          letter-spacing: 150%;
      }
    nav{
        width: 100%;
        height: 100%;
        margin-left: -100%;
        background: rgb(46, 56, 66); 
        position: fixed;
        top: 61px;
        left: 0;
        transition: all .5s;
        
        .social{
            z-index: 100;
            width: 100%;
            text-align: center;
            margin-top: 40px;
            font-size: 30px;
            a{
                padding: 10px;
                display: inline-block;
                text-decoration: none;
                color: #FFF;
                border-radius: 5px;
                &:hover{
                    background: #fff;
                    color: rgb(46, 56, 66);
                }
            }
        }
        ul{
            list-style: none;
            text-align: center;
            font-size: 16px;
            li{
                border: 1px solid #000;
                a{
                padding: 20px;
                display:block;
                text-decoration: none;
                color: #FFF;
                border-radius: 5px;
                &:hover{
                    background: #fff;
                    color: rgb(46, 56, 66);
                }
            }

        }

    }
  }
    }
main{
    width: 100%;
    height: 100%;
    .home{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: whitesmoke;
       h1{
           font-size: 50px;
           padding:0  20px 40px;
           margin-bottom: 20px;
       }
       a{
           border: 1px solid #FFF;
           padding: 20px 40px;
           text-decoration: none;
           color: whitesmoke;
       }
    }
}